<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
      <!--path to framework -->
      <add key="netframworkpath" value="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.8.1\" />
      <!--canvas width -->
      <add key="canvas_width" value="800"/>
      <!--canvas height -->
      <add key="canvas_height" value="600"/>
      <!--canvas background -->
      <add key="canvas_bg" value="#003300"/>
      <!--login, password to https://www.pvobr.ru -->
      <add key="user" value="newnew"/>
      <add key="pass" value="newnew"/>
      <!--service -->
      <add key="server" value="https://www.pvobr.ru/jsonp_model.aspx"/>
      <!--страница визуализации -->
      <add key="-visual_page" value="https://www.pvobr.ru/srv_models/test_graph.htm"/>
      <!--startup script -->
      <add key="-startup" value="test6_move_brown.cs"/>
      <!--loglevel -->
      <add key="loglevel" value="0"/>
      <!--localize -->
      <add key="local" value="ru.local"/>
      <!--script dir -->
      <add key="script_dir" value="C:\GitMathPanel\Test\test\scripts\"/>
      <!--must dir -->
      <add key="must_dir" value="C:\GitMathPanel\Test\test\must\"/>
      <!--mode 0-test, 1-generate-->
      <add key="mode" value="0"/>
    </appSettings>
</configuration>